version: "3.9"

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: banking-rag-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./faiss_index:/app/faiss_index

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: banking-rag-ui
    ports:
      - "8501:8501"
    depends_on:
      - fastapi
    environment:
      - API_URL=http://fastapi:8000
